.box__design {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $color-line;
  @include tablet {
    width: 330px;
    margin-left: 40px;
    margin-right: 30px;
  }
}

.design__menu {
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-text-primary;
  cursor: pointer;

  & .content__title {
    display: flex;
    justify-content: center;
    align-items: center;

    & .icon {
      color: $color-primary;
      font-size: 18px;
    }

    & .titleMenu {
      text-transform: uppercase;
      font-size: 18px;
      padding-left: 10px;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

/* CONTENIDO FORM DESIGN */
.design__content {
  display: flex;
  justify-content: space-between;
  padding-left: 39px;
  padding-right: 20px;
  margin-top: 10px;
  animation: growDesign 0.7s ease forwards;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    color: $color-text-primary;
  }

  &__form {
    & .design__content__input {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}

/* PALETA DE COLORES */
.design__boxColor {
  display: flex;
  margin-left: 10px;

  & .boxColor1 {
    background-color: $color-p1-primary-dark;
    height: 25px;
    width: 30px;
  }

  & .boxColor2 {
    background-color: $color-p1-primary;
    height: 25px;
    width: 30px;
  }

  & .boxColor3 {
    background-color: $color-p1-primary-light;
    height: 25px;
    width: 30px;
  }

  & .boxColor4 {
    background-color: $color-p2-primary-dark;
    height: 25px;
    width: 30px;
  }

  & .boxColor5 {
    background-color: $color-p2-primary-light;
    height: 25px;
    width: 30px;
  }

  & .boxColor6 {
    background-color: $color-p2-primary;
    height: 25px;
    width: 30px;
  }

  & .boxColor7 {
    background-color: $color-p3-primary-dark;
    height: 25px;
    width: 30px;
  }

  & .boxColor8 {
    background-color: $color-p3-primary;
    height: 25px;
    width: 30px;
  }

  & .boxColor9 {
    background-color: $color-p3-primary-light;
    height: 25px;
    width: 30px;
  }
}

.palette1 {
  .title {
    border-left-color: $color-p1-primary;
    &__name {
      color: $color-p1-primary-dark;
    }
  }
  .social__button {
    color: $color-p1-primary-dark;
    border-color: $color-p1-primary-light;
  }

  .fa-mobile-alt,
  .fa-envelope,
  .fa-linkedin-in,
  .fa-github-alt {
    color: $color-p1-primary-dark;
  }
}

.palette2 {
  .title {
    border-left-color: $color-p2-primary-light;
    &__name {
      color: $color-p2-primary-dark;
    }
  }
  .social__button {
    color: $color-p2-primary;
    border-color: $color-p2-primary;
  }
  .fa-mobile-alt,
  .fa-envelope,
  .fa-linkedin-in,
  .fa-github-alt {
    color: $color-p2-primary-dark;
  }
}

.palette3 {
  .title {
    border-left-color: $color-p3-primary;
    &__name {
      color: $color-p3-primary-dark;
    }
  }
  .social__button {
    color: $color-p3-primary-light;
    border-color: $color-p3-primary-light;

    .fa-mobile-alt,
    .fa-envelope,
    .fa-linkedin-in,
    .fa-github-alt {
      color: $color-p3-primary-dark;
    }
  }
}

.fa-chevron-down {
  color: $color-text-primary;
  font-size: 18px;
  &:hover {
    color: $color-primary;
  }
}

.transform {
  transform: rotate(180deg);
}
.js-hidden1 {
  overflow: hidden;
}

@keyframes growDesign {
  from {
    opacity: 0.7;
    height: 0;
  }

  to {
    opacity: 1;
    height: 135px;
  }
}
@keyframes shrinkDesign {
  from {
    opacity: 1;
    height: 135px;
  }

  to {
    opacity: 0.7;
    height: 0px;
  }
}
