body {
  font-size: rem(16);
  font-family: 'Open Sans', sans-serif;
}

.fillOut {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $color-line;
  @include tablet {
    width: 330px;
    margin-left: 40px;
    margin-right: 30px;
  }

  &__title {
    display: flex;
    height: 41px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-text-primary;
    cursor: pointer;

    & .content__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      text-transform: uppercase;
      font-size: 18px;
      padding-left: 10px;
      &:hover {
        color: $color-primary;
      }
    }
    .fa-keyboard-o {
      color: $color-primary;
      font-size: 18px;
    }
    .fa-chevron-down {
      color: $color-text-primary;
      font-size: 18px;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__form {
    font-size: rem(14);
    width: 100%;
    animation: growFillOut 0.7s ease forwards;

    .item {
      margin-bottom: 20px;
    }

    .fillOut-image {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    input {
      border: 1px solid $color-p1-primary-light;
      color: $color-text-primary;
      width: 100%;
      padding: 4px 9px;
      margin-top: 7px;
    }
    input:focus,
    textarea:focus {
      border-color: $color-primary;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
        0 0 8px $color-primary;
      outline: 0 none;
    }
    input::placeholder {
      color: $color-text-light;
    }
    label {
      color: $color-p1-primary-dark;
    }
  }
}

/* ESTILOS AÑADIR FOTO */
.action {
  text-align: center;

  .action__upload-btn {
    background-color: $color-primary;
    color: white;
    border: $color-primary;
    width: 140px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1s ease;
    box-shadow: none;
    outline: none;
    &:hover {
      font-weight: bold;
      background-color: #7c1313;
    }
  }

  .action__hiddenField {
    /* Ocultamos el input de tipo "file" porque no podemos 
    darle los estilos que queremos */
    display: none;
  }
}
/* .img-disabled {
  background-color: rgb(184, 184, 184);
  color: white;
  border: inherit;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  cursor: default;
  outline: none;
} */

.profile {
  display: flex;
  justify-content: center;
  .profile__preview {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}

.js-hidden2 {
  overflow: hidden;
}

@keyframes growFillOut {
  from {
    opacity: 0.7;
    height: 0;
  }

  to {
    opacity: 1;
    height: 515px;
  }
}
