.main {
  @media all and (min-width: 768px) {
    background-color: #f5f5f5;
    .wrapper {
      margin: auto;
      justify-content: center;
      display: flex;
      flex-direction: row-reverse;
      padding: 20px 40px 20px 0px;
    }
  }
}

.form {
  background-color: linear-gradient(#f5f5f5, #ffffff);
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-avatar {
  display: flex;
}
.get-avatar__trigger {
  background-color: $color-primary;
  font-family: $font-primary;
  font-size: rem(14);
  color: white;
  border: $color-primary;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 1s ease;
  box-shadow: none;
  outline: none;
  &:hover {
    font-weight: bold;
    background-color: #7c1313;
  }
}
.get-avatar__upload-field {
  display: none;
}
.get-avatar__preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 30px;
  margin-left: 15px;
  width: 30px;
}
