.golden {
  background-color: $color-background-golden;

  .titleMenu {
    color: $color-dark;
    &:hover {
      color: $color-primary-golden !important;
    }
  }

  .text {
    color: $color-dark;
    &:hover {
      color: $color-primary-golden;
    }
  }

  .design__content__title {
    color: $color-dark;
  }

  .box__design {
    border-bottom: 1px solid $color-dark;
  }

  .share__content {
    border-bottom: 1px solid $color-dark;
  }

  .fillOut {
    border-bottom: 1px solid $color-dark;
  }
  .button__reset {
    border: 1px solid $color-primary-golden;
    color: $color-primary-golden;
  }
  .section__card {
    background-image: url('https://www.fabricsandpapers.com/media/catalog/product/cache/dd7295f9c8e1f63cd0651955a72a9820/v/i/vintage-floral-fabric-vintage.jpg');
  }
  .fa-object-ungroup {
    color: $color-primary-golden !important;
  }
  .fa-keyboard-o {
    color: $color-primary-golden;
  }
  .fa-share-alt {
    color: $color-primary-golden !important;
  }

  .fa {
    color: $color-primary-golden;
  }

  .get-avatar__trigger,
  .share__content__button {
    background-color: $color-primary-golden;
    &:hover {
      font-weight: bold;
      background-color: $color-secondary-golden;
    }
  }

  .text__share__link {
    color: $color-primary-golden;
  }
}
