.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 111px;
  text-align: left;

  &__logo {
    width: 201px;
    height: 50px;
    margin: 31px 0 30px 40px;

    &--img {
      width: 100%;
    }
  }
  &__button__container {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    align-items: center;
    display: flex;
    margin-left: rem(20);
    margin-right: rem(20);
    margin-bottom: rem(30);
    @include tablet {
      margin-right: rem(50);
    }
    h3 {
      color: $color-text-copy;
      font-size: rem(14);
      font-weight: normal;
      padding-right: rem(10);
      text-align: right;
    }
    &--slider {
      display: flex;
      align-items: center;
      height: fit-content;
      width: rem(40);
      border-radius: rem(20);
      background-color: $color-text-copy;
      &.golden-off {
        justify-content: flex-start;
        background-color: lightgrey;
      }
      &.golden-active {
        background-color: $color-secondary-golden;
        justify-content: flex-end;
      }
      &-circle {
        background-color: $color-text-light;
        height: rem(20);
        width: rem(20);
        border-radius: rem(20);
        cursor: pointer;
      }
    }
  }
}
