// fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Merriweather', serif;
$font-tertiary: 'Montserrat', sans-serif;

//COLORS
$color-dark: #000000;
$color-light: #ffffff;

$color-line: #d8d8d8; //color linea bordes formulario
$color-primary: #e17334; //botones e iconos

//---text
$color-text-primary: #54585a; //title text
$color-text-light: #c5c5c5; //placeholder
$color-text-copy: #6b6b6b; //copy

//---palette 1
$color-p1-primary-dark: #114e4e;
$color-p1-primary: #438792;
$color-p1-primary-light: #a2deaf;

//---palette 2
$color-p2-primary-dark: #420101;
$color-p2-primary: #e95626;
$color-p2-primary-light: #bd1010;

//---palette 3
$color-p3-primary-dark: #3e5b65;
$color-p3-primary: #eab052;
$color-p3-primary-light: #a0c0cf;

/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1280px;
