<div class="box__design">
  <div class="design__menu js-arrow1 arrow">
    <div class="content__title">
      <i class="icon far fa-object-ungroup"></i>
      <h2 class="titleMenu">Diseña</h2>
    </div>
    <i class="fa fa-chevron-down js-arrowTransform1"></i>
  </div>
  <div class="design__content js-hidden1 hidden">
    <h3 class="design__content__title">colores</h3>
    <div class="design__content__form">
      <label for="color1">
        <div class="design__content__input">
          <input
            class="inputDesign js-check"
            id="color1"
            type="radio"
            value="1"
            name="palette"
          />
          <div class="design__boxColor">
            <div class="boxColor1"></div>
            <div class="boxColor2"></div>
            <div class="boxColor3"></div>
          </div>
        </div>
      </label>
      <label for="color2">
        <div class="design__content__input">
          <input
            class="inputDesign js-check"
            id="color2"
            type="radio"
            value="2"
            name="palette"
          />
          <div class="design__boxColor">
            <div class="boxColor4"></div>
            <div class="boxColor5"></div>
            <div class="boxColor6"></div>
          </div>
        </div>
      </label>
      <label for="color3">
        <div class="design__content__input">
          <input
            class="inputDesign js-check"
            id="color3"
            type="radio"
            value="3"
            name="palette"
          />
          <div class="design__boxColor">
            <div class="boxColor7"></div>
            <div class="boxColor8"></div>
            <div class="boxColor9"></div>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
