<div class="fillOut">
  <div class="fillOut__title js-arrow2">
    <div class="content__title">
      <i class="fa fa-keyboard-o" aria-hidden="true"></i>
      <h2 class="text">Rellena</h2>
    </div>
    <i class="fa fa-chevron-down js-arrowTransform2" aria-hidden="true"></i>
  </div>
  <div class="fillOut__form js-hidden2 hidden">
    <div class="item">
      <label for="name"
        >Nombre completo
        <input
          type="text"
          class="js-input-name"
          id="name"
          name="name"
          placeholder="Ej: Jon Nieve"
          required
        />
      </label>
    </div>
    <div class="item">
      <label for="job"
        >Puesto
        <input
          type="text"
          class="js-input-job"
          id="job"
          name="job"
          placeholder="Ej: Night guard"
          required
        />
      </label>
    </div>
    <div class="item">
      <label for="img-selector"
        >Imagen de perfil
        <div class="fillOut-image">
          <div class="action">
            <button
              class="action__upload-btn js__profile-trigger"
              type="button"
            >
              Añadir imagen
            </button>
            <input
              type="file"
              name=""
              id="img-selector"
              class="action__hiddenField js__profile-upload-btn"
            />
          </div>
          <div class="profile">
            <div class="profile__preview js__profile-preview"></div>
          </div>
        </div>
      </label>
    </div>
    <div class="item">
      <label for="email"
        >Email
        <input
          type="email"
          class="js-input-mail"
          id="email"
          name="email"
          placeholder="Ej: jon-nieve@gmail.com"
          required
        />
      </label>
    </div>
    <div class="item">
      <label for="phone"
        >Teléfono
        <input
          type="tel"
          class="js-input-phone"
          id="phone"
          name="phone"
          placeholder="Ej: 123456789"
          pattern="[0-9]{9}"
        />
      </label>
    </div>
    <div class="item">
      <label for="linkedin"
        >Linkedin
        <input
          type="text"
          class="js-input-linkedin"
          id="linkedin"
          name="linkedin"
          placeholder="Ej: jon.nieve"
          required
        />
      </label>
    </div>
    <div class="item">
      <label for="github"
        >Github
        <input
          type="text"
          class="js-input-github"
          id="github"
          name="github"
          placeholder="Ej: jon-nieve"
          required
        />
      </label>
    </div>
  </div>
</div>
