<div class="box__share">
  <div class="share__menu js-arrow3">
    <div class="content__title">
      <i class="icon fas fa-share-alt"></i>
      <h2 class="titleMenu">comparte</h2>
    </div>
    <i class="fa fa-chevron-down js-arrowTransform3"></i>
  </div>
  <div class="share__content js-hidden3 hidden">
    <button
      type="submit"
      name="share"
      value="share"
      class="share__content__button js-share"
    >
      <i class="far fa-address-card"></i>
      <span>CREAR TARJETA</span>
    </button>
  </div>
  <div class="text__share js-textShare hidden">
    <h5 class="text__share__create">La tarjeta ha sido creada:</h5>
    <a class="text__share__link js-linkShare" href="#" target="_blank"></a>
    <a
      class="twitter-share-button text__share__button js-twitter"
      href="https://twitter.com/share?="
      data-size="large"
      data-text="custom share text"
      data-url="https://dev.twitter.com/web/tweet-button"
      data-hashtags="example,demo"
      data-via="Adalab_Digital"
      data-related="twitterapi,twitter"
      target="_blank"
    >
      <i class="fab fa-twitter"></i>
      <span>Compartir en twitter</span>
    </a>
  </div>
</div>
