<main class="main-landing">
  <div class="main_img">
    <img
      src="./assets/images/logo-awesome-profile-cards.svg"
      alt="logo-awesome-profile-cards"
    />
  </div>
  <h1>Crea tu tarjeta de visita</h1>
  <p>
    <span>Crea mejores contactos profesionales de forma fácil y cómoda</span>
  </p>
  <article class="steps-landing">
    <div>
      <span class="icon-landing"
        ><i class="fa fa-object-ungroup" aria-hidden="true">
          </i></i
      ></span>
      <span class="text-landing">Diseña</span>
    </div>
    <div>
      <span class="icon-landing"
        ><i class="fa fa-keyboard-o" aria-hidden="true"></i
      ></span>
      <span class="text-landing">Rellena</span>
    </div>
    <div>
      <span class="icon-landing"
        ><i class="fa fa-share-alt" aria-hidden="true"></i
      ></span>
      <span class="text-landing">Comparte</span>
    </div>
  </article>
  <a class="button-start" href="./cards.html" title="start">COMENZAR</a>
</main>
